
body {
    /* always put font information in the body element */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: black;
    // padding: 3rem;
}



.heading-primary { 
    // color: #08171b;
    color: white;
    text-transform: uppercase;

    /* this gets rid of animation shakiness! noone knows why.  put in parent element of animation elemtent */
    backface-visibility: hidden;
    margin-bottom: 10rem;


    // border: 20px solid black;

    
    // &:before {
    //   content: 'YAAA';
    //   background-color: pink;
    //   width: 100%;
    //   height: 500px;
    // }


    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: 1.5rem;
        margin-bottom: 3rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        font-family: 'Fjalla One', sans-serif;

        /* animation-delay: 3s; */
        /* animation-iteration-count: 3; */
      }
      
      &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
      
        /* Note that you can group all the same animation stuff in one property */
        animation: moveInRight 1s ease-out;
      }
}

.heading-secondary {

  font-family: 'Fjalla One', sans-serif;
  font-size: 5rem;
  
  // text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  // background-image: linear-gradient(to right, $color-light-green, $color-green);
  // -webkit-background-clip: text;
  // color: transparent;
  letter-spacing: 1.5rem;
  transition: all .2s;
  text-align: start;
  cursor: default;

  &:hover {
    transform: skewY(0deg) skewX(-10deg);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }

}


.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  // text-transform: uppercase;


  //this not thing selects everything EXCEPT its argument (last child in this case)



}


.about-header {
  position: absolute;
  left: 16rem;
  
}

.paragraph {

  font-size: 2rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

}
