.footer {
    background-color: black;
    height: 40vh;


    &-top {
        
        height: 10vh;
        // padding-top: 5vh;
        padding: 5vh 12vw 2vh 12vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 2px solid white;
        position: relative;
        z-index : 1;


        &:before {
            content : "";
            position: absolute;
            // left    : 0;
            bottom  : 0;
            height  : 1px;
            width   : 76vw;  /* or 100px */
            // border-bottom:1px solid #FFC038;
          }


        &-logo {

            max-width: 5rem;
            margin-left: 1vw;

        }

        &-social {
            svg {
                --ticker-width: -4779px;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                margin: 0 3rem;
                font-size: 100%;
                font-family: "Untitled Sans", "Helvetica Neue", "Arial", sans-serif;
                font-weight: inherit;
                font-style: inherit;
                font-variant: inherit;
                line-height: inherit;
                color: #fff;
                box-sizing: border-box;
                width: auto;
                height: 16px;
            }
        }


    }


    &-list-container {
        display: flex;
        justify-content: space-evenly;
        padding: 5vh 12vh 0 12vw;

        .footer-left {
            color: white;

        }


        .footer-list {
            // border: 2px solid white;

            width: 10vw;
            color: white;
            display: flex;
            // justify-content: center;
            font-size: 2rem;
            font-weight: lighter;


            ul {
                padding-left:0;
                list-style:none;


                li:first-child {
                    font-weight: bold;
                    // text-decoration: underline;
                }



            }
        }

        .footer-subscribe {
            color: white;
        }


    }





}