.footer {
    background-color: black;
    // height: 40vh;


    &-top {
        
        height: 10vh;
        // padding-top: 5vh;
        padding: 5vh 12vw 2vh 12vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 2px solid white;
        position: relative;
        z-index : 1;


        &:before {
            content : "";
            position: absolute;
            // left    : 0;
            bottom  : 0;
            height  : 1px;
            width   : 76vw;  /* or 100px */
            // border-bottom:1px solid #FFC038;
          }


        &-logo {

            max-width: 5rem;
            margin-left: 1vw;

        }

        &-social {
            svg {
                --ticker-width: -4779px;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                margin: 0 3rem;
                font-size: 100%;
                font-family: "Untitled Sans", "Helvetica Neue", "Arial", sans-serif;
                font-weight: inherit;
                font-style: inherit;
                font-variant: inherit;
                line-height: inherit;
                color: #fff;
                box-sizing: border-box;
                width: auto;
                height: 16px;
            }
        }


    }

    .whiteline-container {

        display: flex;
        justify-content: center;

        .whiteline {
            border: 1px solid rgba(white, .2);
            width: 80vw;
        }
    }

    


    &-list-container {
        display: flex;
        justify-content: space-evenly;
        padding: 5vh 12vh 3vh 12vw;

        .footer-left {
            color: white;
            max-width: 200px;
            margin: 0px 2vw;

        }


        .footer-list {
            // border: 2px solid white;

            width: 10vw;
            color: white;
            display: flex;
            // justify-content: center;
            font-size: 2rem;
            font-weight: lighter;

            margin: 0px 2vw;


            ul {
                padding-left:0;
                list-style:none;


                li:first-child {
                    font-weight: bold;
                    // text-decoration: underline;
                }



            }
        }

        .footer-subscribe {
            color: white;
            padding-bottom: 10px;
        }


    }

}





@media only screen and (max-width: 600px){
    .footer-list-container {
        padding: 0;
    }

    .footer-top {
        padding: 5vh 3vw 2vh 3vw;
    }

    .whiteline {
        display: none;
    }
}


@media only screen and (max-width: 400px){

    .footer-list-container {
        display: block;
        text-align: center;
    }

    .footer-top {
        padding: 5vh 1vw 2vh 1vw;
    }

    .footer-list-container .footer-left {
        max-width: 100%;
    }

    .footer-list-container .footer-list {
        justify-content: center;
        width: 100%;
    }



}