.section-about {
    // background-color: $color-grey-light-1;
    padding: 10rem 0 2% 5%;
    // margin-top: -25.5vh;
    // height: 100vh;
    // height: calc(100vh + 40px);

    // background-color: #E5E9EC;
    background-color: #E2F3F0;

    border: 40px soilid green;

    


    &-flex-container {
        // background-color: #ccc;
        // justify-content: space-around;
        display: flex;
        margin: 20vh 0px;
        // flex-direction: row-reverse;
        // padding: 10px;


    }

    &-col {

        flex: .5;
        height:100%;
        // padding: 30px;
        // margin: 30px;

        &-text {
            margin-top: 5vh;
            margin-left: 3vw;
            display: flex;

            border: 3px solid black;

            

        }




    }


    .about-card {
        min-width: 30rem;
        // border: 2px solid black;
        padding: 2vw;
    }





}



@media only screen and (max-width: 1208px) {
    .section-about-flex-container{
        margin-top: 0px;

    }

    .section-about-col {
        flex: auto;

    }

    .section-about-col-text {
        margin-top: 0px;
        // margin-left: 0px;
        margin: 0px 5vw;
    }

    .section-about {
        padding: 5rem 0
    }
}


@media only screen and (max-width: 700px) {
    .section-about-col-text {
        display: block;
    }
}


@media only screen and (max-width: 560px) {
    .section-about-col-text {
        display: block;
    }

    // .section-about {
    //     height: 120vh;
    // }
}